body{
    margin: 0;
    padding: 0;
    
}
.itempar{
    text-align: center;
}
.cartw{
    font-size:30px;
}
.me-auto{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
